* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #24292e;
}

.video-player {
    /* vertical centering */
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 10px black;
    
}